<p-toast position="bottom-right" />
<p-button severity="warn" icon="pi pi-minus" [disabled]="blockBtn" (click)="showModal()" />


<p-dialog header="Withdraw Cash" [modal]="true" [(visible)]="visibleModal" [style]="{ width: '25rem' }">
    <span class="p-text-secondary block mb-8">Enter the quantity you wish to withdraw</span>
    <div class="flex items-center gap-4 mb-4">
        <label for="valueDebit" class="font-semibold w-24">Value</label>
        <p-inputnumber [(ngModel)]="value" mode="decimal" inputId="valueDebit" autocomplete="off" decimalSeparator="."
            [useGrouping]="false" [minFractionDigits]="2" [maxFractionDigits]="2"
            [max]="this.transactionService.balance()" />
    </div>
    <div class="flex justify-end gap-2">
        <p-button label="Cancel" severity="secondary" (click)="visibleModal = false" />
        <p-button label="Save" (click)="onDebit()" />
    </div>
</p-dialog>