<p-toast position="bottom-right" />

<p-dialog header="Deposit Cash to {{accountNumber}}" [modal]="true" [(visible)]="visibleModal" [style]="{ width: '25rem' }" (onHide)="onClose()">
    <span class="p-text-secondary block mb-8">Enter the quantity you wish to insert to this account</span>
    <div class="flex items-center gap-4 mb-4">
        <label for="valueCredit" class="font-semibold w-24">Value</label>
        <p-inputnumber [(ngModel)]="value" mode="decimal" inputId="valueCredit" autocomplete="off" decimalSeparator="."
            [useGrouping]="false" [minFractionDigits]="2" [maxFractionDigits]="2" />
    </div>
    <div class="flex justify-end gap-2">
        <p-button label="Cancel" severity="secondary" (click)="onClose()" />
        <p-button label="Save" (click)="onCredit()" />
    </div>
</p-dialog>