<div class="layout-topbar">
    <div class="layout-topbar-logo-container">
        <a class="layout-topbar-logo" routerLink="/">
            <img width="25" src="assets/imgs/trademark.png" />
            <span>Baldurs Bank</span>
        </a>
    </div>

    <div class="layout-topbar-actions">
        <div class="layout-config-menu">
        <div class="layout-topbar-menu hidden lg:block">
            <div class="layout-topbar-menu-content">
                <button type="button" class="layout-topbar-action" (click)="onLogout()">
                    <i class="pi pi-sign-out"></i>
                    <span>Sign Out</span>
                </button>
            </div>
        </div>
    </div>
</div>